<div ng-controller="SaveController">
	<form name=frmPerson" ng-submit="save()">
		 <!-- Controlar erros backend -->
		 <div class="alert alert-danger" ng-show="errors" role="alert"> Invalid Data! </div>
		 
		 <div class="form-group">
			<label>	Name: </label>
			<input type="text" class="form-control" name="name" ng-model="person.firstName" required />
		</div>
		
		<div class="form-group">
			<label> Last Name: </label>
			<input type="text" class="form-control" name="lastName" ng-model="person.lastName" required />
		</div>
			
		<input type="submit" class="btn btn-primary btnSave" value="Save"/>
	</form>
</div>